<!--this file will contain everything that's consistent between pages of the website.-->
<head>
    <!--css/javascript goes in head. loaded in head.-->
    {% load static %}
    <!--compiled CSS (that i downloaded and changed the primary color to indigo in the _variables file so the navbar would be a different color)-->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS (if you want to use the default on the website)-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<!--everything that is rendered inside the browser should be in body-->
<body>
    <!--way to save space in files and make html more modular. Pretend html in navbar.html is sitting here. much cleaner and more readable.-->
    {% include "main/includes/navbar.html" %}
    {% include "main/includes/messages.html" %}
      <div class="container">
        <br>
        <!--anything that extends this file can put content here.-->
        {% block content %}
        {% endblock %}
      </div>
      
</body>
        <br><br>
<script src="{% static 'tinymce/js/prism.js' %}"></script>
<!--this initalizes materialize js. fixes issue with collapsible not working.-->
<script>M.AutoInit();</script>




