<!--html in this file extends the html in header.html-->
{% extends "main/header.html" %}
<!--this shows where in header.html this html will be placed. corresponding indicator in header.html-->
{% block content %}
    <div class="row">
      <div class="col s12, m8, l8">
        <h3>{{tutorial.title}}</h3>
        <p style="font-size:70%">Published {{tutorial.datePublished}}</p>
        {{tutorial.content|safe}}
      </div>

    <div class="col s12 m4 l4">
      <!--collapsible popout is materialize css specific class-->
      <ul class="collapsible popout">
        {% for tutorial in sidebar %}
          {% if forloop.counter0 == this_tutorial_idx %}
            <li class="active">
              <div class="collapsible-header">{{tutorial.title}}<br>(currently viewing)</div>
            </li>
          {% else %}
            <li>
              <div class="collapsible-header">{{tutorial.title}}</div>
              <div class="collapsible-body">
                <p>
                  <a href="{{tutorial.slug}}">
                    <button class="btn waves-effect waves-light right-align" style="background-color:indigo; color:black;">
                      GO
                    </button>
                  </a>
                </p>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

